body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    margin: 0;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    ;
    padding: 20px;
    border-radius: 10px;
    
}

.row {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.key {
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 3px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}




.wide {
    width: 120px;
}

.red {
    background-color: darkred;
}
.O{
    width: 100px;
    margin-left: 200px;
    margin-right: 200px;
    color:black;
    border-radius: 10px ;
    color: black;
    border-left: 10px solid color black;
    border-right: 10px solid color black;
    border-bottom: 10px solid color black;
    
}
